#biankuang {border : 2px solid black;
    height: 60%;
  width:50%;
margin-left:10px;
border-radius: 20px;
}
.t1{
	 color: white
}
#part1{
	background-image: url(5.jpg);}

.t2{ 
	text-align: center;
	color:white
}

.t3{
	text-align: center;
	color: black
}
 div{
	font-family: Arial;
    font-size: 35px;
    line-height: 15px;
}
#part5{
	font-family: Arial;
    font-size: 15px;
    line-height: 10px;
}



html{height: 100%;width: 100%;}

body{height: 100%;width: 100%;}
